body {
    background: fixed;
    background-attachment: fixed;
    background-image: url("asteroid.webp");
    background-size: 120%;
    background-position:center;
    opacity: 0.8;
}

#TITOK {
    text-align: justify;
    font-variant: small-caps;
    text-decoration: underline;
    font-weight: bold;
}